<!-- Main Layout // Main Layout // Main Layout -->

<template name="layout">

	<div class="container-fluid" id="moody">
		<div class="container" id="body">
			
			<div class="row">
				{{> navigation}}				
			</div>

			

			<div class="row" style="text-align: center">
				<div class="col-sm-12 col-xs-12 col-md-12">
						
					{{> yield}}
						
				</div>
			</div>

			<div class="row">
				<footer class="col-sm-12 fixed-bottom" style="text-align: center; margin-top: 200px; background-color: teal; padding: 5px">
					<h2>Hademade in <a href="http://jaaga.in/study">Jaaga</a></h2>
				</footer>
			</div>
		</div>
	</div>		
</template>


<!-- Navigation Template // Navigation Template // Navigation Template -->
	
	<template name="navigation">
		<div class="navbar navbar-default main-nav col-xs-12" role="navigation" style="background-color: orange">
			<div class="navbar-header">
            	
                <button class="btn btn-success navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 

                	<span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                </div>
            
            <div class="navbar-collapse collapse">
            	
                <ul class="nav nav-pills">
                    <li class="nav"><a href="{{pathFor 'home'}}">Jobb & Jobb</a>
                    </li>
                    <li class="nav"><a href="{{pathFor 'jobs'}}">Jobs</a>
                    </li>
                    {{#if currentUser}}
	                    <li class="nav"><a href="{{pathFor 'create'}}">Post A Job</a>
	                    </li>
	                	<li class="nav"><a>Ola, {{currentUser}}!</a>
	                    </li>
	                    <li class="nav"><a href="#" id="main-logout">{{> logout}}</a>
	                    </li>
	                {{/if}}
                    {{#if noUser}}
                    <li class="nav"><a href="{{pathFor 'signup'}}">Sign Up</a>
                    </li>
                    <li class="nav"><a href="{{pathFor 'login'}}">Login</a>
                    </li>
                    {{/if}}
                    
                </ul>
            </div>
        </div>

	</template>
