

<!-- Main Layout // Main Layout // Main Layout -->

<template name="layout">

<!-- {{#if loggingIn}}
{{> spinner}}
<div style="text-align: center"><h4>Loading as fast as we can...</h4></div>
	{{else}} -->
	<div class="container-fluid" id="moody">
		<!-- <div class="container" id="body"> -->
			
			<div class="row">
				{{> navigation}}				
			</div>
			
			<div class="row" style="margin-top: 100px">
				<div class="container">
				
					
					
					{{> yield}}
						
					<script>
					  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
					  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

					  ga('create', 'UA-56058264-1', 'auto');
					  ga('send', 'pageview');

					</script>
				
				

				</div>	
				
			</div>

			<div class="row">
				<footer class="col-sm-12" style="text-align: center; margin-top: 150px; background-color: #F3F3F3; padding: 5px">
					<h3 style="color: teal">Handmade in <a style="color: teal" href="http://jaaga.in/study">Jaaga</a> with <a style="color: teal" href="http://meteor.com">Meteor</a></h3>
				</footer>
			</div>
			<div class="row" style="background-color: black">
				<img class="col-md-12 col-sm-12 col-xs-12" src="/meteor--banner.png">
			</div>
		<!-- </div> -->
	</div>		
<!-- {{/if}} -->
</template>



	<!-- Navigation template to be rendered inside the layout template  -->
	<template name="navigation">
		<div class="navbar navbar-default navbar-fixed-top main-nav col-xs-12 container" id="nav" role="navigation">
			<div class="navbar-header">
            	
                <button class="btn btn-success navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
                	<span class="glyphicon glyphicon-tasks"></span>
                </button>
                </div>
            
            <div class="navbar-collapse collapse">
            	
                <ul class="nav nav-pills">
                    <li class="nav"><a href="{{pathFor 'home'}}">Home</a>
                    </li>
                    <li class="nav"><a href="{{pathFor 'jobs'}}">Jobs</a>
                    </li>
                    <!-- <li class="nav"><a href="#">{{> loginButtons}}</a>
                    </li> -->

	                    {{#if currentUser}}
		                    <li class="nav"><a href="{{pathFor 'crte'}}">Post A Job</a>
		                    </li>
		                	<li class="nav"><a href="{{pathFor 'profle'}}">Ola, {{thisUser}}!</a>
		                    </li>
		                    <li class="nav"><a href="#" id="logout">Log Out</a>
		                    </li>
		                <!-- {{/if}}
	                    {{#if noUser}} -->

	                    {{else}}
	                    <li class="nav"><a href="{{pathFor 'signup'}}">Sign Up</a>
	                    </li>
	                    <li class="nav"><a href="{{pathFor 'login'}}">Login</a>
	                    </li>
	                    {{/if}}
                   

                    
                </ul>
            </div>
        </div>

	</template>