<template name="application">
	<div style="text-align: center">
		
		<div class="row">	
			<div class="col-sm-12 col-md-12">
				<h1>Author : {{author}}</h1>
				<h1>Current User : {{currentUser}}</h1>
			</div>
		</div>
		
		<div class="row" style="padding-top: 100px">
			<div class="col-sm-10">
				<form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label for="name" class="col-xs-4 col-sm-4 col-md-4 control-label">Name</label>
				    <div class="col-xs-8 col-sm-8 col-md-8">
				      <input type="text" class="form-control" id="name" name="name" placeholder="Your real name please" required>
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="about" class="col-xs-4 col-sm-4 col-md-4 control-label">Email</label>
				    <div class="col-xs-8 col-sm-8 col-md-8">
				      <input type="email" class="form-control" id="email" name="email" placeholder="Email to contact you" required>
				    </div>
				  </div>

				  <div class="form-group">
				    <label for="github" class="col-xs-4 col-sm-4 col-md-4 control-label">Github Link</label>
				    <div class="col-xs-8 col-sm-8 col-md-8">
				      <input type="url" class="form-control" id="github" name="github" placeholder="e.g: https://github.com/yourname" required>
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <label for="about" class="col-xs-4 col-sm-4 col-md-4 control-label">Something about you</label>
				    <div class="col-xs-8 col-sm-8 col-md-8">
				      <textarea rows="3" class="form-control" id="about" name="about" placeholder="Anything!" required></textarea> 
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <div class="col-sm-offset-4 col-sm-8">
				      <button id="apply" type="submit" class="btn btn-success submit">Submit</button>
				    </div>
				  </div>
				</form>
			</div>	
		</div>
	
	</div>
</template>