
<!-- individual applications -->
<template name="applied">
	
		<a href="{{pathFor 'viewapp'}}"><p  class="blocks">{{name}}</p></a>
	
</template>


<!-- View for list of applications -->
<template name="view">
	<h1>Applications</h1>
		{{#each application}}
			{{> applied}}
		{{/each}}

		{{#if notApplied}}
			<p>Nope, no one has applied for one! <br> Have you posted any job?</p>
		{{/if}}
	
</template>

<!-- View for an individual application -->
<template name="viewapp">
	<div class="col-md-3 col-sm-3"></div>
	
	<div class="container col-md-6 col-sm-6 jobpage">
		<br>
		<h3>Name: {{name}}</h3>
		<p>Email: <a href="mailto:{{email}}">{{email}}</a></p>
		<p>{{about}}</p>
		
		<p>Applicant username: {{applicant}}</p>
		<p>Date applied: {{submitted}}</p>
	</div>

	<div class="col-md-3 col-sm-3"></div>
</template>

