<template name="home">
	<div class="main">
		{{#if currentUser}}
		<div>
			<h2>Jobs that you've posted!</h2>
			<div>
			{{> myjobs}}
			</div>

		</div>


		<div>
			<h2>Jobs applied!</h2>
			{{> view}}

		</div>
		{{/if}}
	</div>
</template>


<template name="view">
	<div>
		{{#each application}}
			{{> applied}}
		{{/each}}
	</div>
</template>

<template name="viewapp">
	<div class="container">
	<br>
		<h3>{{name}}</h3>
		<a href="mailto:{{email}}">{{email}}</a>
		<p>{{about}}</p>
		<br>
		<p>Applicant: {{applicant}}</p>
		<p>Date applied: {{submitted}}</p>
	</div>
</template>
