
<!-- Individual job view // Individual job view // Individual job view -->

<template name="job">
	<div class="col-xs-1 col-sm-2 col-md-2"></div>
	  <div class="col-xs-10 col-sm-8 col-md-8 jobpage" style="text-align: justify">
	  	<h2>{{jobTitle}}</h2>
	  	<p>{{shortDescription}}</p>
	  	<br>
	  	<p>Where: {{organization}}</p>
	  	<p>Schedule: {{schedule}}</p>
	  	<p>Compensation: {{compensation}}</p><br>
	  	<p>{{addedRequirements}}</p>

	  	<p>Check out our site at <a href="{{url}}">{{url}}</a></p>
	  	<a href="{{pathFor 'application'}}"><button class="btn btn-success">Apply for this job</button></a>
	  	{{#if ownPost}}<a href="{{pathFor 'jobEdit'}}"><button class="btn btn-primary">Edit</button></a>{{/if}}
	  </div>

  	<div class="col-xs-1 col-sm-2 col-md-2"></div>
</template>

