

<!-- Template for undefined paths // Template for undefined paths -->

<template name="notFound">
	<div class="" style="text-align: center">
	  	<div class="col-md-3 col-sm-3"></div>
	  	
	  	<div class="alert alert-error col-md-6 col-sm-6 jobpage" style="text-align: center">
	  		<h2>Uh-oh, lost huh?</h2>
	  		<p style="padding: 15px">Would you like me to take you back home?</p>
	  		<button class="btn btn-success" id="yes">Yes</button>
	  		<button class="btn btn-danger" id="no">No</button>
	  	</div>
	  	
	  	<div class="col-md-3 col-sm-3"></div>
	  </div>
</template>