

<!-- Template for undefined paths // Template for undefined paths -->

<template name="notFound">
	<div class="" style="text-align: center">
	  	<div class="col-md-3 col-sm-3"></div>
	  	
	  	<div class="alert alert-error col-md-6 col-sm-6 jobpage">
	  		<h2>Uh-oh, this path doesn't exist yet.</h2>
	  		<p>Would you like me to take you back home? Say yes! 
	  		<button class="btn btn-success" id="yes">Yes.</button></p>
	  	</div>
	  	
	  	<div class="col-md-3 col-sm-3"></div>
	  </div>
</template>