<!--<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
     <a class="navbar-brand" href="{{pathFor 'postsList'}}">Meteor Jobs <b>Beta</b></a>
      <div class="navbar-collapse collapse">
        <ul class="navbar-brand">
          <li><a href="{{pathFor 'postSubmit'}}">Post A Job!</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li>{{> loginButtons}}</li>
        </ul> 
      </div>
    </div>
  </header>
</template>-->

<template name='header'>
  <header class='navbar'>
    <div class='navbar-inner'>
      <ul class="nav nav-pills">
          <li><a href="/">Meteor Jobs</a></li>
          <li><a href="{{pathFor 'postSubmit'}}">Post a Job!</a></li>
          <li><a href="{{pathFor 'about'}}">About</a></li>
      </ul>

      
      <ul class="nav navbar-nav navbar-right">
        <li>{{> loginButtons}}</li>
      </ul>
      
    </div>
  </header>  
</template>