<template name='about'>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<img src="https://www.apple.com/support/assets/images/products/macbookair/hero_macbookair.png">
				</div>					
				<div class="col-md-8">	
					<p>
						Lorem ipsum dolor sit amet, ne nec mazim melius conceptam, principes voluptatibus nam cu. Lorem nominati mea id, mel prodesset mediocritatem cu, eu oblique placerat pro. Decore graeco audire nam ex, affert decore explicari ea ius, graecis ancillae eligendi ad eam. No vim sint ridens aperiri, ne mei veri dicit eligendi, altera blandit inciderint mea ei. No modus appetere oporteat eum, no vim cibo euripidis. Nec ex nonumes partiendo, his ut legendos partiendo, no tota ponderum pro.
					</p>

					<p>
						Lorem ipsum dolor sit amet, ne nec mazim melius conceptam, principes voluptatibus nam cu. Lorem nominati mea id, mel prodesset mediocritatem cu, eu oblique placerat pro. Decore graeco audire nam ex, affert decore explicari ea ius, graecis ancillae eligendi ad eam. No vim sint ridens aperiri, ne mei veri dicit eligendi, altera blandit inciderint mea ei. No modus appetere oporteat eum, no vim cibo euripidis. Nec ex nonumes partiendo, his ut legendos partiendo, no tota ponderum pro.
					</p>

					
				</div>
			</div>

			<div class="row">
				
			</div>
		</div>
	</div>
</template>