<template name="postPage">
	<div class="submit-page">
		<h2>{{title}} </h2>
		<h2><a href="{{url}}">{{url}}</a></h2>
		<p>{{description}}</p>
		<div>
			{{>application}}
		</div>
		
	<br>
	<br>
	<br>
	</div>

</template>




<template name="application">
	<div>
		<form>
			<div>
				<label for='fullname'>Name</label>
				<input name='fullname' value="" placeholder="Enter your fullname here"/>
				<input type="submit" value="Submit" class="btn btn-primary"/>
			</div>
		</form>
	</div>
</template>

